In [4]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

#import the data
local_path = '/Users/scoot/Documents/GitHub/CU-Sabermetrics-Final/SQL/rawData2010_2013.csv'
df = pd.read_csv(local_path)
df.head()

,GAME_ID,AWAY_TEAM_ID,INN_CT,BAT_HOME_ID,OUTS_CT,BALLS_CT,STRIKES_CT,PITCH_SEQ_TX,AWAY_SCORE_CT,HOME_SCORE_CT,...,HOME_LINEUP6_BAT_ID,HOME_LINEUP6_FLD_CD,HOME_LINEUP7_BAT_ID,HOME_LINEUP7_FLD_CD,HOME_LINEUP8_BAT_ID,HOME_LINEUP8_FLD_CD,HOME_LINEUP9_BAT_ID,HOME_LINEUP9_FLD_CD,AWAY_FINISH_PIT_ID,HOME_FINISH_PIT_ID
0,ANA201004050,MIN,1,0,0,2,2,CSBFFBFC,0,0,...,rivej001,7,kendh001,4,woodb003,5,mathj001,2,neshp001,fuenb001
1,ANA201004050,MIN,1,0,0,2,2,CSBFFBFC,0,0,...,rivej001,7,kendh001,4,woodb003,5,mathj001,2,neshp001,fuenb001
2,ANA201004050,MIN,1,0,0,2,2,CSBFFBFC,0,0,...,rivej001,7,kendh001,4,woodb003,5,mathj001,2,neshp001,fuenb001
3,ANA201004050,MIN,1,0,0,2,2,CSBFFBFC,0,0,...,rivej001,7,kendh001,4,woodb003,5,mathj001,2,neshp001,fuenb001
4,ANA201004050,MIN,1,0,1,0,1,FX,0,0,...,rivej001,7,kendh001,4,woodb003,5,mathj001,2,neshp001,fuenb001

In [11]:
batterlist = set(df['BAT_ID'])
for batter in batterlist:
    print(batter)
len(batterlist)

cuddm001
abreb001
woodb003
kendh001
puntn001
huntt001
matsh001
mauej001
kubej002
thomj002
rivej001
mornj001
hudso001
hardj003
napom001
morak001
harrb001
yound003
spand001
iztum001
mathj001
aybae001

22