In [4]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

#import the data
local_path = '/Users/scoot/Documents/GitHub/CU-Sabermetrics-Final/SQL/rawData2010_2013.csv'
df = pd.read_csv(local_path)
df.head()

,GAME_ID,AWAY_TEAM_ID,INN_CT,BAT_HOME_ID,OUTS_CT,BALLS_CT,STRIKES_CT,PITCH_SEQ_TX,AWAY_SCORE_CT,HOME_SCORE_CT,...,HOME_LINEUP6_BAT_ID,HOME_LINEUP6_FLD_CD,HOME_LINEUP7_BAT_ID,HOME_LINEUP7_FLD_CD,HOME_LINEUP8_BAT_ID,HOME_LINEUP8_FLD_CD,HOME_LINEUP9_BAT_ID,HOME_LINEUP9_FLD_CD,AWAY_FINISH_PIT_ID,HOME_FINISH_PIT_ID
0,ANA201004050,MIN,1,0,0,2,2,CSBFFBFC,0,0,...,rivej001,7,kendh001,4,woodb003,5,mathj001,2,neshp001,fuenb001
1,ANA201004050,MIN,1,0,0,2,2,CSBFFBFC,0,0,...,rivej001,7,kendh001,4,woodb003,5,mathj001,2,neshp001,fuenb001
2,ANA201004050,MIN,1,0,0,2,2,CSBFFBFC,0,0,...,rivej001,7,kendh001,4,woodb003,5,mathj001,2,neshp001,fuenb001
3,ANA201004050,MIN,1,0,0,2,2,CSBFFBFC,0,0,...,rivej001,7,kendh001,4,woodb003,5,mathj001,2,neshp001,fuenb001
4,ANA201004050,MIN,1,0,1,0,1,FX,0,0,...,rivej001,7,kendh001,4,woodb003,5,mathj001,2,neshp001,fuenb001

In [80]:
#initializing the useful columns:
batterlistUnique = pd.DataFrame(df.BAT_ID.unique())
batterlistUnique.columns = ['BAT_ID']
batterlistUnique['outs'] = 0
#print(batterlistUnique)

In [81]:
#testing setting certain value, weird indexing stuff
batterlistUnique.loc[batterlistUnique['BAT_ID']=='spand001', 'outs'] = 101
print(batterlistUnique)
#df['BAT_ID'][1]

      BAT_ID  outs
0   spand001   101
1   hudso001     0
2   mauej001     0
3   aybae001     0
4   abreb001     0
5   huntt001     0
6   matsh001     0
7   morak001     0
8   rivej001     0
9   kendh001     0
10  mornj001     0
11  cuddm001     0
12  kubej002     0
13  yound003     0
14  hardj003     0
15  woodb003     0
16  mathj001     0
17  puntn001     0
18  thomj002     0
19  harrb001     0
20  iztum001     0
21  napom001     0

In [82]:
for batter in batterlistUnique['BAT_ID']:
    #print(batter)
    for i in range(len(df['GAME_ID'])):
        if (batter == df['BAT_ID'][i]):
            #print("here")
            batterlistUnique.loc[batterlistUnique['BAT_ID']==batter,'outs'] += 1

In [83]:
print(batterlistUnique)

      BAT_ID  outs
0   spand001   165
1   hudso001    56
2   mauej001    52
3   aybae001    60
4   abreb001    52
5   huntt001    56
6   matsh001    39
7   morak001    42
8   rivej001    52
9   kendh001    52
10  mornj001    65
11  cuddm001    52
12  kubej002    45
13  yound003    78
14  hardj003    56
15  woodb003    36
16  mathj001    36
17  puntn001    50
18  thomj002    30
19  harrb001     3
20  iztum001     8
21  napom001    16